html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.proscenium {
  height: 100%;
  background-image: url('proscenium.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.bg-video #player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

.bg-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}